html,body{

    background-image: url("https://images2.alphacoders.com/718/718914.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.container{

    height: 100vh;
    align-content: center;
}

.card{

    background-color: lightseagreen;
}

.input-group{

    padding-bottom: 10px;
}